<div id="app">
<h2>Add a person: </h2>
<ul>
  <li v-for="error in errors">{{ error }}</li>
</ul>
<div>
  Name: <input type="text" v-model="newPersonName">
  Bio: <input type="text" v-model="newPersonBio">
  <button v-on:click="addPerson()">Add Person</button>
</div>
<datalist id="names">
<option v-for="person in people">{{ person.name }}</option>
}
  
</datalist>
<div>
  Search by Name: <input type="text" v-model="nameFilter" list="names">
</div>
<button v-on:click="setSortAttribute('name')">Sort By Name</button>
<button v-on:click="setSortAttribute('bio')">Sort by Bio</button>

<div class></div>


<transition-group name="fade">
  <div v-for="person in modifiedPeople" v-if="isValidPerson(person)" v-bind:key="person.id">
 
    <h2 v-on:click="toggleBio(person)">{{ person.name }}</h2>
    <h4 v-if="person.bioVisible">
      {{ person.bio }}
      <button v-on:click="deletePerson(person)">delete</button>
    </h4>
  </div>
</transition-group>
  <h4>Total number of people: {{ people.length }}</h4>
</div>

